img{
    width: 700px;
    height: 5rem;
}

h1{
    font-size: 5rem;
}

@media (max-width: 420px){
    body{
        background-color: red;
    };
 
}

h1{
    font-size: 2rem;
}

img{
height: 50vh;
width: 100%;
}