body{
    background-color:#eefaa8;
    font-family: 'Rajdhani', sans-serif;
    width: 80%;
}

header{
    background-color: #649ea7;
    text-align: center;
    border: 1px solid #000000;
}

img{
    width: 500px;
}

table{
    border: 1px solid #000000;
}

th{
    background-color: #8fbfb9; 
    font-weight: bold;
}